
<div class="text-center">
    <form asp-controller="Home" asp-action="Hello">
        <label for="name"><h5>Enter your name:</h5></label>
        <br />
        <input id="name" name="Name" value="" />
    </form>

</div>
